.footer{
  position:relative;
  display:block;
  width:100%;
  text-align:center;
  font-size:smaller;
}
.footer a:link{
  background-color: #7d4900;
  color:#000;
}
.footer a:visited{
  background-color: #7d4900;
  color:#000;
}
