/* status */
.statusupdate {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}
.status_update_box {
  margin:auto;
  height:100px;
  width:300px;
  padding: 25px 25px 25px 25px;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: cornsilk;
  border-radius: 10px;
  text-align: center;
}
