.sitLeave {
  width: 50%;
  float: right;
  cursor: pointer;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.sitLeave:hover {
  background-color: darkcyan;
}

.testCard {
  width: 100%;
  height: 100%;
  font-size: 1em;
  background-size: contain;
  background-image: url("../../assets/deck1/10h.png");
  background-repeat: no-repeat;
}

.cardBox {
  display: inline-block;
  min-width: 30px;
  width: 15%;
  min-height: 20px;
  height: 18%;
  /* background-color: cornflowerblue; */
  position: relative;
}

.cardRowDefault {
  width: 100%;
  height: 50%;
  position: relative;
}

.playerBox {
  width: 19%;
  height: 100%;
  /* background-color: skyblue; */
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 1%;
}

.playerInnerBox {
  /* background-color: #422518; */
  background-image: url("../../assets/ui1/playerbox1.png");
  position: relative;
  height: 50%;
}


/* ***************************************** */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* */
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* */
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/*
@media (min-width: 768px) and (max-width: 1024px) {
*/
@media (min-width: 320px) and (max-width: 1024px) {

  .playerBox {
    width: 100%;
    height: 19%;
    border-bottom: 1px solid black;
    position: relative;
  }

  .playerInnerBox {
    position: relative;
    width: 24%;
    height: 100%;
    display: inherit;
    vertical-align: top;
  }

  .cardRowDefault {
    width: 74%;
    height: 100%;
    position: relative;
    display: inherit;
  }

  .cardBox {
    min-width: 20px;
    width: 10%;
    min-height: 24px;
    height: 22%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* */
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* */
  .tableHeader{
    display:none;
  }

  .playerBox {
    height: 20%;
    border-bottom: 1px solid black;
  }

  .cardBox {
    min-width: 17px;
    width: 8%;
    min-height: 20px;
    height: 19%;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* */
}
