.tables_container2 {
  margin-top: 20px;
  width: 100%;
}

.tables_inner_table2 {
  padding-top: 20px;
}

.tables2 {
  font-size: 2vw;
  color: white;
  margin: 5px;
  background-color: darkgreen;
  cursor: pointer;
  padding-bottom: 20px;
  text-align: center;
  display: inline-block;
  width: 15%;
}


