<div class="row mx-auto">
    <div class="col-sm">
      <div class="select_table">table</div>
    </div>
    <div class="col-sm">
      <div class="select_table">table</div>
    </div>
    <div class="col-sm">
      <div class="select_table">table</div>
    </div>
</div>


<!--
<div class="select_table_row">
  <div class="select_table">table</div>
  <div class="select_table">table</div>
  <div class="select_table">table</div>
</div>

<div class="select_table_row">
  <div class="select_table">table</div>
  <div class="select_table">table</div>
  <div class="select_table">table</div>
</div>

<div class="select_table_row">
  <div class="select_table">table</div>
  <div class="select_table">table</div>
  <div class="select_table">table</div>
</div>
-->
