<div [style.visibility]="this.playerDashVisible" class="playerDash">
  <div class="playerDash_box">
    <div class="playerdash_container">
      <div class="pd_row top">
        <div class="inner_top_header">
          <div class="inner_top_header_player_timer"> time: {{this.timer2time}}</div>
          <div class="inner_top_header_player">&nbsp;</div>
          <div class="inner_top_header_dealer">dealer</div>
        </div>
      </div>

      <div class="pd_row cards">
        <div *ngIf="!splitActive; else playSplit" class="pd_col pcol">
          <div class="cardRowDefault">
            <div class="cardBox" *ngFor="let card of cards">
              <div class="testCard" [ngClass]="'_'+card"></div>
            </div>
          </div>
        </div>

        <ng-template #playSplit>
          <div class="pd_col pcol">

            <div [ngStyle]="cssSplitOne()" class="cardRowDefault">
              <div class="cardBox" *ngFor="let card of splitCards1">
                <div class="testCard" [ngClass]="'_'+card"></div>
              </div>
            </div>

            <div [ngStyle]="cssSplitTwo()" class="cardRowDefault">
              <div class="cardBox" *ngFor="let card of splitCards2">
                <div class="testCard" [ngClass]="'_'+card"></div>
              </div>
            </div>
          </div>
        </ng-template>


        <div class="pd_col dcol">
          <div class="cardRowDefault">
            <div class="cardBox" *ngFor="let dcard of dcards">
              <div class="testCard" [ngClass]="'_'+dcard"></div>
            </div>
          </div>
        </div>

      </div>

      <div class="pd_row actions">
        <div class="inner_actions">
          <div class="command_col acol">

            <div *ngIf="!splitActive else si" class="command" (click)="hit()">HIT</div>
            <ng-template #si><div class="command" (click)="splitHit()">HIT</div></ng-template>

          </div>
          <div class="command_col acol">

            <div *ngIf="!splitActive else si2" class="command" (click)="standClick()">STAND</div>
            <ng-template #si2><div class="command" (click)="splitStandClick()">STAND</div></ng-template>


          </div>
          <div class="command_col acol">
            <div [style.visibility]="this.splitButtonVisible" (click)="split()" class="command">SPLIT</div>
          </div>
        </div>
      </div>


      <div [style.visibility]="this.statusBoxVisible" class="playerstatusupdate">
        <div class="playerstatus_update_box">
          <div class="statusMessageContainer">
            <div class="statusMessage">{{this.setPlayerStatus()}}</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
