.playerDash {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}
.playerDash_box {
  width:calc(100%/1.5);
  height:calc(100%/1.5);
  overflow:hidden;
  margin:auto;
  padding: 1vw;
  display:inline-block;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: cornsilk;
  border-radius: 10px;
  text-align: center;
}
.temp_close{
  cursor: pointer;
  margin-bottom:1vw;
}
