<div class="new_game_container">
  <a href="" routerLink="tables" routerLinkActive="active">
    <div class="ngc_left"></div>
  </a>
  <div class="ngc_right">
    <div class="ngc_right_inset">
      Welcome to the Multiplayer Blackjack tables. Create a new table with
      your own game options or join an existing table. Keep track of the card
      count, play for fun and practice your skills. <a href="" routerLink="tables" routerLinkActive="active">
      Start playing Blackjack for free</a>!
    </div>
  </div>
</div>
<!--
<div class="content_box">
  <H1>Multiplayer Games:</H1>
  <h2>Blackjack Beta</h2>
  <p>Welcome to the Blackjack tables.</p>
  <ul>
    <li>Join/Create a new Table</li>
    <li>Tables have 5 seats</li>
    <li>Mobile/Desktop Supported</li>
  </ul>
  <button (click)="joinTable()" type="button" class="btn btn-success">Join A Table</button>
</div>
-->
