.messageupdate {
  width: 100%;
  position: fixed;
  top: 0;
  margin-top:40px;
  /* background-color: rgba(0, 0, 0, .5); */
}

.message_update_box {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  text-align: center;
  display: table;
  margin: 12vw auto 0;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.message_content {
  color:grey;
  height: 44px;
  text-align: center;
  line-height: 44px;
  vertical-align: center;
  white-space: nowrap;
  overflow: hidden;
}
