html, body {
  height: 100%;
  margin: 0px;
}

/* test */
.test_container {
  width: 800px;
  height: 400px;
}

.select_table_row {
  width: 90%;
  /* background-color: #000000; */
  margin: 0 auto;
}

.select_table {
  margin-left: 1rem;
  margin-top: 1rem;
  display: inline-block;
  width: 20%;
  min-width: 5rem;
  height: 100px;
  background-color: darkcyan;
}

/* stage */
.inner_stage {
  background-color: #999;
  height: inherit;
  overflow: hidden;
}

.outer_stage {
  height: 100%;
}

.stage_content {
  display: inherit;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 95%;
  height: 95%;
  background: #CCC;
  color: #000;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* bootstrap */
/*
.row {
  width: 100%;
  margin: 0 auto;
  background-color:greenyellow;
  position: relative;
  display: block;
}
*/
.content_box{
  padding:20px;
  margin:0 auto;
  height:100%;
  width:80%;
}
