nav{
  /*
  display:none;
  overflow: hidden;
  */
}
.approot_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.approot_child {
  background-color: #f8f9fa;
  padding: 0.5rem;
}
