<div [style.visibility]="this.multiDashVisible" class="multiDash">

  <div class="multiDash">
    <div class="multiDash_box">
      <div class="multidash_container">

        <div class="section">
          <div class="header">
            <div class="headercol"><h4>PLAYER&nbsp;{{this.playerStatus}}</h4></div>
            <div class="headercol">
              <div class="wlp" [ngClass]="pwlp"></div>
            </div>
          </div>

          <div class="cardRowDefault">
            <div class="cardBox" *ngFor="let card of dCardsArray">
              <div class="testCard" [ngClass]="'_'+card"></div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="header">
            <div class="headercol"><h4>DEALER&nbsp;{{this.dealerStatus}}</h4></div>
            <div class="headercol">
              <div class="wlp" [ngClass]="dwlp"></div>
            </div>
          </div>

          <div class="cardRowDefault">
            <div class="cardBox" *ngFor="let card of dCardsArray">
              <div class="testCard" [ngClass]="'_'+card"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
