<div class="custom-dialog-container">

  <h1>Table Options</h1>
  <mat-dialog-content>

      <mat-list role="list">
        <mat-list-item role="listitem">

          <mat-form-field>
            <mat-select (selectionChange)="data.deckOption=$event.value" placeholder="How many decks">
              <mat-option style="color:black;" *ngFor="let option of deckOptions" [value]="option.id">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-list-item>
        <mat-list-item role="listitem">

          <mat-form-field>
            <mat-select (selectionChange)="data.shuffle=$event.value" placeholder="Shuffle at %">
              <mat-option style="color:black;" *ngFor="let option2 of shuffleAt" [value]="option2.id">
                {{ option2.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-list-item>

        <mat-list-item style="color:black;" role="listitem">
          Deal Card Mode:
          <mat-slide-toggle
            class="toggle-margin"
            [(ngModel)]="data.checked"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
            (change)="toggleChange()">
            {{this.getDealCardMode()}}
          </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
          <mat-dialog-actions>
            <button [mat-dialog-close]="[data.checked,data.deckOption,data.shuffle]" class="btn btn-success" mat-dialog-close>
              Create New Table
            </button>
          </mat-dialog-actions>
        </mat-list-item>

      </mat-list>

  </mat-dialog-content>

</div>
