.leaveTable {
  cursor: pointer;
  border: solid darkgreen;
  background-color: black;
  color: white;
}

.leaveTable:hover {
  background-color: darkcyan;
}

.tableHeader > div {
  padding:0.2em;
  display: inline-block;
  color: white;
}

.gameTable {
  height: 100%;
  position: relative;
  /*background-color: darkgreen;*/
  overflow: hidden;
}

.playerAreaContainer {
  background: url("../../assets/ui1/blackjack_back.png") no-repeat;
  background-size:100%;
  background-position: center center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
}

@media (min-width: 1281px) {  }
@media (min-width: 1025px) and (max-width: 1280px) {  }
@media (min-width: 320px) and (max-width: 1024px) {

  .playerAreaContainer {
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    display: inline-block;
    background: url("../../assets/ui1/blackjacktable_landscape.png") no-repeat;
    background-size:cover;
    background-position: center center;
  }

  .sitLeave {
    float: none;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {  }

@media (min-width: 481px) and (max-width: 767px) {
  .playerAreaContainer {
    width: 85%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {  }
