<div class="gameTable">
  <div style="background-color: black; color:white;" (click)="leaveTable()">LEAVE TABLE</div>
  <!-- player grid -->
  <div class="playerAreaContainer">
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox">1</div>
        <div class="cardBox">2</div>
        <div class="cardBox">3</div>
        <div class="cardBox">4</div>
        <div class="cardBox">5</div>
        <div class="cardBox">6</div>
        <div class="cardBox">7</div>
        <div class="cardBox">8</div>
        <div class="cardBox">9</div>
        <div class="cardBox">10</div>
        <div class="cardBox">11</div>
        <div class="cardBox">12</div>
        <div class="cardBox">13</div>
        <div class="cardBox">14</div>
        <div class="cardBox">15</div>
        <div class="cardBox">16</div>
        <div class="cardBox">17</div>
        <div class="cardBox">18</div>
        <div class="cardBox">19</div>
        <div class="cardBox">20</div>
        <div class="cardBox">21</div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox">1</div>
        <div class="cardBox">2</div>
        <div class="cardBox">3</div>
        <div class="cardBox">4</div>
        <div class="cardBox">5</div>
        <div class="cardBox">6</div>
        <div class="cardBox">7</div>
        <div class="cardBox">8</div>
        <div class="cardBox">9</div>
        <div class="cardBox">10</div>
        <div class="cardBox">11</div>
        <div class="cardBox">12</div>
        <div class="cardBox">13</div>
        <div class="cardBox">14</div>
        <div class="cardBox">15</div>
        <div class="cardBox">16</div>
        <div class="cardBox">17</div>
        <div class="cardBox">18</div>
        <div class="cardBox">19</div>
        <div class="cardBox">20</div>
        <div class="cardBox">21</div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox">1</div>
        <div class="cardBox">2</div>
        <div class="cardBox">3</div>
        <div class="cardBox">4</div>
        <div class="cardBox">5</div>
        <div class="cardBox">6</div>
        <div class="cardBox">7</div>
        <div class="cardBox">8</div>
        <div class="cardBox">9</div>
        <div class="cardBox">10</div>
        <div class="cardBox">11</div>
        <div class="cardBox">12</div>
        <div class="cardBox">13</div>
        <div class="cardBox">14</div>
        <div class="cardBox">15</div>
        <div class="cardBox">16</div>
        <div class="cardBox">17</div>
        <div class="cardBox">18</div>
        <div class="cardBox">19</div>
        <div class="cardBox">20</div>
        <div class="cardBox">21</div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox">1</div>
        <div class="cardBox">2</div>
        <div class="cardBox">3</div>
        <div class="cardBox">4</div>
        <div class="cardBox">5</div>
        <div class="cardBox">6</div>
        <div class="cardBox">7</div>
        <div class="cardBox">8</div>
        <div class="cardBox">9</div>
        <div class="cardBox">10</div>
        <div class="cardBox">11</div>
        <div class="cardBox">12</div>
        <div class="cardBox">13</div>
        <div class="cardBox">14</div>
        <div class="cardBox">15</div>
        <div class="cardBox">16</div>
        <div class="cardBox">17</div>
        <div class="cardBox">18</div>
        <div class="cardBox">19</div>
        <div class="cardBox">20</div>
        <div class="cardBox">21</div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox">1</div>
        <div class="cardBox">2</div>
        <div class="cardBox">3</div>
        <div class="cardBox">4</div>
        <div class="cardBox">5</div>
        <div class="cardBox">6</div>
        <div class="cardBox">7</div>
        <div class="cardBox">8</div>
        <div class="cardBox">9</div>
        <div class="cardBox">10</div>
        <div class="cardBox">11</div>
        <div class="cardBox">12</div>
        <div class="cardBox">13</div>
        <div class="cardBox">14</div>
        <div class="cardBox">15</div>
        <div class="cardBox">16</div>
        <div class="cardBox">17</div>
        <div class="cardBox">18</div>
        <div class="cardBox">19</div>
        <div class="cardBox">20</div>
        <div class="cardBox">21</div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
  </div>
</div>
