<div class="gameTable">
  <div class="tableHeader">
    <div class="leaveTable" (click)="leaveTable()">LEAVE TABLE</div>
    <div>&nbsp;( Watchers: {{this.watchers}} )</div>
    <div>&nbsp;( Players: {{this.players}} )</div>
  </div>
  <!-- player grid -->
  <div class="playerAreaContainer">
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div id="pcard0" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard1" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard2" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard3" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard4" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard5" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard6" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard7" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard8" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard9" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard10" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard11" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard12" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard13" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard14" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard15" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard16" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard17" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard18" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard19" class="cardBox">
          <div class="testCard"></div>
        </div>
        <div id="pcard20" class="cardBox">
          <div class="testCard"></div>
        </div>
      </div>
      <div class="playerInnerBox">
          <div class="sitLeave" (click)="sitStandUpTable(0)">{{this.sitOrLeaveText}}</div>
      </div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
    <div class="playerBox">
      <!-- card holder -->
      <div class="cardRowDefault">
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
        <div class="cardBox"></div>
      </div>
      <div class="playerInnerBox">hi</div>
      <!-- card holder -->
    </div>
  </div>
</div>
