<div class="gameTable">
  <div class="tableHeader">
    <div class="leaveTable" (click)="leaveTable()">LEAVE TABLE</div>
    <div>&nbsp;( Watchers: {{watchers}} )</div>
    <div>&nbsp;( Players: {{players}} )</div>
  </div>
  <app-dealer-hand></app-dealer-hand>
  <div class="playerAreaContainer">
    <app-playerbox player="0"></app-playerbox>
    <app-playerbox player="1"></app-playerbox>
    <app-playerbox player="2"></app-playerbox>
    <app-playerbox player="3"></app-playerbox>
    <app-playerbox player="4"></app-playerbox>
  </div>
</div>
<app-control></app-control>
<app-place-bets></app-place-bets>
