@import "../node_modules/ng2-slim-loading-bar/style.css";

html, body {
  height: 100%;
}

.container {
  height: 100%;
}

/* test */
.test_container {
  width: 800px;
  height: 400px;
}

.select_table_row {
  width: 90%;
  /* background-color: #000000; */
  margin: 0 auto;
}

.select_table {
  margin-top: 1rem;
  /*display: inline-block;*/
  width: 55%;
  min-width: 5rem;
  height: 100px;
  background-color: darkcyan;
  margin-left: 3rem;
}

/* stage */
.inner_stage {
  background-color: #999;
  height: inherit;
  overflow: hidden;
}

.outer_stage {
  height: 100%;
}

.stage_content {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 95%;
  height: 95%;
  background: #CCC;
  color: #000;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* bootstrap */
.row {
  width: 70%;
  position: relative;
}

/* temp loading wheel */
.temp_loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 999999;
}
.temp_loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;

  position: absolute;
  top: 50%;
  left: 50%;

  border-width: 30px;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  z-index: 999999;
}
.temp_style-2 .temp_loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
  z-index: 999999;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

/* custom dialog for table-select */
.custom-dialog > mat-dialog-container{
  background-color: cornsilk;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
