<div [style.visibility]="this.placeBetsVisible" class="placeBetsUpdate">
  <div class="placeBets_update_box">
    <p>You have {{getChips()}} chips.</p>
    <div>
      <form [formGroup]="placeBetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="placeBetForm1">bet amount:</label>
          <select [(ngModel)]="selectedValue" formControlName="chips"
                  class="form-control" id="placeBetForm1">
            <option>5</option>
            <option>25</option>
            <option>50</option>
            <option>{{getChips()}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">place bet</button>
      </form>
    </div>
    <span>You have {{getTime()}} seconds left.</span>
  </div>
</div>
